@import "general/variables";
@import "general/mixin";

.main {
  @include center-flex {
    margin: auto;
    flex-direction: column;
  }

  height: auto;
  width: auto;
}

.new-game{
  color: $white-c-secondary-color;
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
}

.inputs-letters {
}
.title-game {
}

.horca-man {
}
