@import "../../../styles/general/variables";
@import "../../../styles/general/mixin";
.aside {
  display: flex;
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 50%, 500px);
  height: 50%;
  z-index: 40;

  border: 1px solid $white-c-secondary-color;
  border-radius: 15px;
}
.container {
  height: 100%;
  width: 100%;
  @include center-flex {
    flex-direction: column;
  }
  .other {
    @include center-flex(40px) {
      flex-direction: column;
      align-content: flex-end;

    }
    width: 90%;
    height: 60%;
    h2{
      font-size: 35px;
      color: $white-c-secondary-color;
    }
    input{
      @include center-flex;
      height: 40px;
      width: 70%;
      border: solid 2px $white-c-secondary-color;
      color: $white-c-secondary-color;
      font-size: 20px;
      border-radius: 15px ;
      &::placeholder {
        @include center-flex;
        color: $white-c-secondary-color;
      }
    }
  }
  .btn {
    @include center-flex(5px) {
      align-content: flex-end;
    }
    width: 90%;
    height: 40%;
  }
}

.exit {
  @include center-flex(5px);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px $white-c-secondary-color;
  top: -25px;
  left: calc(100% - 25px);

  background-color: $white-bg-primary-color;
  cursor: pointer;
  div {
    width: 5px;
    height: 50%;
    background-color: $white-c-secondary-color;
  }
  * {
    background-color: $white-bg-primary-color;
  }
}

.container {
}
